<!-- 1er AFFICHAGE SANS ROUTE -->

<!-- <div class="container">
  <div class="gestionnaire">
    <app-gestionnaire (addedVoiture)="addVoitureToList($event)"></app-gestionnaire>
  </div>
  <div class="garage">
    <h1>GARAGE</h1>

    <h3>Liste des véhicules</h3>
    <br/>
    <app-voiture *ngFor="let voiture of voitures" [theVoiture]="voiture" (selectedCar)="getSelectedVoiture($event)"></app-voiture>
  </div>
  <div class="detail">
    <app-detailVoiture [selectedVoiture]="selectedVoitureToPush"></app-detailVoiture>
  </div>
</div> -->

<!-- 2eme AFFICHAGE AVEC ROUTE -->

<div class="container">
  <div class="gestionnaire">
    <app-gestionnaire></app-gestionnaire>
  </div>
  <div class="garage">
    <router-outlet></router-outlet>
  </div>
</div>
